<footer data-th-fragment="footer">
    <!--***************************************-->
    <!--**************JAVA SCRIPT**************-->
    <!--***************************************-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script data-th-src="@{/resources/devoops/plugins/jquery/jquery-2.1.0.min.js}"></script>
    <script data-th-src="@{/resources/devoops/plugins/jquery-ui/jquery-ui.min.js}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script data-th-src="@{/resources/devoops/plugins/bootstrap/bootstrap.min.js}"></script>
    <script data-th-src="@{/resources/devoops/plugins/justified-gallery/jquery.justifiedgallery.min.js}"></script>
    <script data-th-src="@{/resources/devoops/plugins/tinymce/tinymce.min.js}"></script>
    <script data-th-src="@{/resources/devoops/plugins/tinymce/jquery.tinymce.min.js}"></script>
    <script data-th-src="@{/resources/devoops/plugins/select2/select2.min.js}"></script>
    <!-- All functions for this theme + document.ready processing -->
    <script data-th-src="@{/resources/devoops/js/devoops.js}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]
    <script data-th-src="@{/resources/devoops/plugins/html5shiv/html5shiv.min.js}"></script>
    <script data-th-src="@{/resources/devoops/plugins/respond/respond.min.js}"></script>
    <![endif]-->

    <data-th-block layout:fragment="dynamic-js-content"></data-th-block>
</footer>