<head data-lang="tr" data-th-fragment="head">

    <!--Title-->
    <title data-th-text="#{meta.title}"></title>

    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="prolms"/>
    <meta name="author" content="prolms"/>

    <link data-th-href="@{/resources/devoops/plugins/bootstrap/bootstrap.css}" rel="stylesheet"/>
    <link data-th-href="@{/resources/devoops/plugins/jquery-ui/jquery-ui.min.css}" rel="stylesheet"/>
    <link data-th-href="@{/resources/devoops/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet"/>
    <link data-th-href='@{/resources/devoops/plugins/font-googleapis/font-googleapis-righteous.css}' rel='stylesheet' type='text/css'/>
    <link data-th-href="@{/resources/devoops/plugins/fancybox/jquery.fancybox.css}" rel="stylesheet"/>
    <link data-th-href="@{/resources/devoops/plugins/fullcalendar/fullcalendar.css}" rel="stylesheet"/>
    <link data-th-href="@{/resources/devoops/plugins/xcharts/xcharts.min.css}" rel="stylesheet"/>
    <link data-th-href="@{/resources/devoops/plugins/select2/select2.css}" rel="stylesheet"/>
    <link data-th-href="@{/resources/devoops/css/style.css}" rel="stylesheet"/>
</head>