<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content="prolms"/>

    <title>ProLMS</title>

</head>
<body>
admin
<div data-th-unless="${#lists.isEmpty(user)}">

    <table>
        <thead>
        <tr>
            <th>Adı</th>
            <th>Soyadı</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="sb : ${user}">
            <td data-th-text="${sb.name}">adı</td>
            <td data-th-text="${sb.surname}">soyadı</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>